<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TemplateWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>

	</appSettings>
	<!--log4net配置start-->
	<log4net>
		<appender name="RollingLogFileAppender_DateFormat" type="log4net.Appender.RollingFileAppender">
			<file value="log\\"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maximumFileSize value="1MB"/>
			<datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="All"/>
			<appender-ref ref="RollingLogFileAppender_DateFormat"/>
		</root>
	</log4net>
	<!--log4net配置end-->
	<userSettings>
		<TemplateWPF.Properties.Settings>
   <setting name="MySqlIpAddress" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="MySqlUserName" serializeAs="String">
    <value>root</value>
   </setting>
   <setting name="MySqlPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="MySqlDBName" serializeAs="String">
    <value />
   </setting>
   <setting name="MySqlPort" serializeAs="String">
    <value>3306</value>
   </setting>
   <setting name="AutoStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoUpdate" serializeAs="String">
    <value>False</value>
   </setting>
  </TemplateWPF.Properties.Settings>
	</userSettings>
</configuration>